<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <title>Meta Photos - About</title>
    <link
      rel="shortcut icon"
      href="/images/favicon.png"
      type="image/x-icon" />
    <link
      rel="stylesheet"
      href="/stylesheets/style2.css" />
  </head>
  <body>
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <nav>
      <div class="logo">
        <h1>Meta Photos</h1>
      </div>
      <ul>
        <li>
          <a href="feed">Home</a>
        </li>
        <li>
          <a href="about">About</a>
        </li>
        <li>
          <a href="prof">Profile</a>
        </li>
        <li>
          <a href="/logOut">LogOut</a>
        </li>
      </ul>
      <div class="hamburger">
        <span class="line"></span>
        <span class="line"></span>
        <span class="line"></span>
      </div>
    </nav>
    <div class="menubar">
      <ul>
        <li>
          <a href="feed">Home</a>
        </li>
        <li>
          <a href="about">About</a>
        </li>
        <li>
          <a href="prof">Profile</a>
        </li>
        <li>
          <a href="/logOut">LogOut</a>
        </li>
      </ul>
    </div>
    <div id="pageX">
      <div class="about-card">
        <p style="padding-bottom: 40px">
          Meta Photos is a web application designed as a clone of Google Photos,
          serving as a user-friendly platform for photo uploading and
          management. It allows users to register, log in, and securely upload
          photos to their personal gallery. The platform ensures each user's
          photos are stored and displayed based on their unique login
          credentials.
          <br />
          Welcome to Meta Photos, your ultimate destination for secure and
          intuitive photo management. Designed with your memories in mind, Meta
          Photos offers a seamless experience from login to upload, ensuring
          your photos are safely stored and easily accessible. Our platform
          prioritizes user security with robust authentication features,
          allowing you to securely sign up and log in. Once inside, you'll find
          an intuitive interface that makes organizing your photos effortless.
          Upload single or multiple photos with ease, and let Meta Photos handle
          the rest with smart organization features that use metadata and
          advanced tagging. Share your favorite moments effortlessly with loved
          ones through customizable albums and granular privacy controls. Built
          with responsive design principles, Meta Photos ensures a seamless
          experience across all your devices, so you can relive your memories
          wherever you are. Join us at Meta Photos and discover a new way to
          manage and cherish your photo collection.
        </p>
        <br />
        <br />
      </div>
      <div class="credit">
        <span
          >Created by
          <a href="https://www.linkedin.com/in/prince-bhatt-0958a725a/"
            >Prince Bhatt</a
          ></span
        >
      </div>
    </div>

    <script>
      window.addEventListener('load', function () {
        document.body.classList.add('loaded');
      });
    </script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
